build the roots to the colors:root {
    --stone: #38464b;
    --nav_blue: #a1a9b7;
    --black_green: #013220;
    --capiton: #fff;
    --boring_silver: rgba(154, 185, 188, 0.8);
    --just_black: #000000;
    --outer: #333f50;
    --inner: #222a35;
}


/* the whole page css */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--outer);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    color: #333f50;
    ;
    font-weight: 320;
    max-width: 1120px;
    min-height: 630px;
    max-height: 630px;

}

.main-box {
    margin-left: 15px;
    margin-right: 15px;
    border-left: 15px solid rgb(223, 223, 223);
    border-top: 3px solid rgb(223, 223, 223);
    border-bottom: 3px solid rgb(223, 223, 223);
    border-right: 15px solid rgb(223, 223, 223);
    margin-top: 50px;
    margin-bottom: 50px;
    height: 560px;
    background-color: #222a35;
    background-image: url('./background.png');
    background-size: 100% 100%;
    
;


}



.top-columns {
    display: flex;
    margin-bottom: 60px;
    color: white;
    width: 100%;
    height: 50%;

}

.main-content {
    background-color: #333f50;
    ;

}

.timer-container {
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #333f50;
    ;
    color: white;
    position: absolute;
    top: 0;
    padding-left: 30%;

}

.timer-text {
    font-size: 14px;
    display: inline-flex;
}

.progress-bar {
    width: 30%;
    background-color: #27ae60;
    border-radius: 5px;
    overflow: hidden;
    display: inline-flex;
    transform: scalex(-1)
}

.progress {
    background-color: #bdc3c7;

    width: 100%;
    height: 10px;

}
/* .left-column {
    width: 30%;
    height: 30%;
    color: #000000;
    padding-left: 20px;
    padding-right: 15px;
    display: inline-block;
    align-items: center;
} */

.right-box {
    width: 18%;
    height: 80%;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 1px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    display: right;
}

.small_header {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.small-box {
    width: 150px;
    min-height: 270px;
    margin-left: 20px;
    height: auto;
    background-color: #ececec;
    box-shadow: 0 0 0 1.5px #C6C6C6;
    color: #000000;
    margin-bottom: 15px;
    font-size: 12px;

}

.inner-column {
    width: 50%;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 260px;
    margin-right:55px;
    display: flex;


}


.radio_check input {
    float: right;
    margin-right: 40px;
    margin-top: 12px;
}

label {
    font-size: 16px;
    font-weight: 400;
}

span {
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;

}

h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.legend {
    background-color: rgba(216, 231, 232, 0.8);
    color: black;
    width: 60px;
    height: 35px;
    margin-top: 30px;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 50px;
    border-style: ridge;
    border-color: rgb(20, 0, 148);
    border-width: 1.5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(189, 189, 255, 0.3);
    font-size: 12px;
}

.legend_clicked {
    height: 160px;
    width: 110px;
    margin-top: -60px;
    margin-bottom: 45px;
    background-color: rgba(216, 231, 232, 0.8);
    color: black;

    border: none;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 50px;
    border-style: ridge;
    border-color: rgb(154, 154, 255);
    border-width: 1.5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(189, 189, 255, 0.3);
    font-size: 12px;

}

#legendDiv {
    font-size: 8px;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    display: none;

    font-weight: 500;
}


#legendDiv img {
    width: 15px;
    margin-right: 1px;
    margin-top: 3px;
    display: inline-flex;
    position: sticky;
    vertical-align: -4px;
    mix-blend-mode: multiply;
}

.minimized_card {
    height: 50px;
    width: auto;
    height: 40px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 8px;
    border-color: #000000;
    border-style: ridge;
    font-weight: 500;
    background-color: #fff;
    border-width: 1px;
    cursor: pointer;

}

.hidden-content {
    display: none;
    height: auto;
    width: auto;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 8px;
    border-color: #000000;
    border-style: ridge;
    font-weight: 500;
    background-color: #fff;
    border-width: 1px;
    cursor: pointer;
    /* Initially hide the content */
}

.popup {
    position: absolute;
    top: 300px;
    left: 550px;
    transform: translate(-50%, -50%);
    background-color: rgb(224, 231, 255);
    padding: 20px;
    padding-top: 60px;
    width: 400px;
    height: 80px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    /* Ensure the popup is above all other elements */
}

.popup-content h2 {
    margin-top: 0;
    font-weight: 500;
    font-size: 18px;
}

.popup button {
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    background-color: #222a35;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    float: right;

}

.counter {
    display: inline-block;
    min-width: 30px;
    margin-right: 25px;
    border-radius: 5px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: middle;
    background-color: #000000;
    color: white;
    border-width: 10px;
    border-color: #000000;
    font-size: 10px;

}

.round-button {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    border-radius: 50%;
    margin-bottom: 5px;
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
}


.round-button-substract {
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;

    float: right;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
}

.grid {
    display: grid;
    color: black;
    margin-top: 10px;
    /* background-color: rgb(224, 231, 255); */
    padding-left: 50px;
    height: 46%;
    grid-template-columns: 170px 170px 170px 170px 170px 100px;
    grid-template-rows: 120px 120px;
}


.small-card {
    width: 150px;
    height: 200px;
    margin-top: -40px;
}

.mini-box {
    background-color: white;
    margin: 10px;
    font-size: 10px;
    height: 55px;
    width: 145px;
    border-radius: 5px;
    border-color: #000000;
    border-style: ridge;
    border-width: 1.2px;
}

.round-button-small {
    float: right;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 3px;
    width: 15px;
    height: 15px;
    padding: 0;
    padding-left: 2px;
    font-size: 12px;
    background-color: black;
    color: white;
    text-align: center;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.submit-button{
width: 80px;
height: 40px;
position: absolute;
margin-left: 55px;
margin-top: 20px;
border-radius: 10px;
font-size: 12px;
font-weight: 500;
background-color: rgb(233, 237, 253);
box-shadow: 0 0 3px rgba(227, 227, 227, 0.3);
cursor: pointer;
display: none;



}

#clearStorage {
    position: relative;
    left: 20px;

    float: left;
    z-index: 1000;
    height: fit-content;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 12px;
    background-color: #d40000;
    color: white;
    position: absolute;
    font-weight: 500;
}

.card-fieldset {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    /* Vertically center content */
    margin-bottom: 5px;
    /* Add some spacing between rows */
}

.column {
    flex: 1;
    /* Distribute space equally among columns */
    text-align: center;
    /* Center text within columns */
}

.column img {
    width: 20px;
    margin-top: 2px;
    display: inline-flex;
    vertical-align: bottom;
    mix-blend-mode: multiply;
}

.column:nth-child(1) {
    /* First column (image) */
    flex-basis: 0px;
    text-align: left;
    margin-left: 5px;
    /* Adjust as needed */
}

.column:nth-child(2) {
    /* Second column (title) */
    flex-basis: 40px;
    text-align: left;
    /* Adjust as needed */
}

.column:nth-child(3) {
    /* Third column (value) */
    flex-basis: 30px;
    margin-left: -10px;
    /* Adjust as needed */
}
.row:nth-child(4){
    margin-top: 10px;
}

/* access the forth row and the second column */
.row:nth-child(4) .column:nth-child(2){
    flex-basis: 90px;
    text-align: left;
    }
/* access the forth row and the second column */
.row:nth-child(4) .column:nth-child(1){
    flex-basis: 0px;    ;

}
