/*build the roots to the colors*/
:root {
  --stone: #38464b;
  --nav_blue: #a1a9b7;
  --black_green: #013220;
  --capiton: #fff;
  --boring_silver: rgba(154, 185, 188, 0.8);
  --just_black: #000000;
  --outer: #333f50;
  --inner: #222a35;
}

/* the whole page css */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--outer);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  color: #ffffff;
  ;
  font-weight: 320;
  max-width: 1120px;
  min-width: 1120px;
  min-height: 630px;
  max-height: 630px;


}

.main-box {
  margin-left: 15px;
  margin-right: 15px;
  border-left: 15px solid rgb(223, 223, 223);
  border-top: 3px solid rgb(223, 223, 223);
  border-bottom: 3px solid rgb(223, 223, 223);
  border-right: 15px solid rgb(223, 223, 223);
  margin-top: 30px;
  margin-bottom: 30px;
  height: 500px;
  background-color: #222a35;
  overflow-y: scroll;
  overflow-x: hidden;
  
  ;
}


/*main screen scrollbar*/
.main-box::-webkit-scrollbar {
  width: 12px;
  background-color: grey;
}

.main-box::-webkit-scrollbar-thumb {
  background-color: var(--capiton);
  height: 20px;
  border-radius: 5px;

}



/*the menu buttons*/
.btn {
  display: block;
  border-radius: 10px;
  border: 2px solid var(--just_black);
  padding: 8px 5px;
  background-color: var(--capiton);
  color: var(--just_black);
  text-decoration: none;
  position: relative;
}

.btn_active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #17c0eb;
  left: 20px;
  display: none;
}

.btn i {
  margin-right: 10px;
}

.btn_active {
  display: block;
  padding: 4px 7px;
  background-color: #8497b0;
  color: var(--capiton);
  text-decoration: none;
  position: relative;
  border: 2px solid var(--just_black);
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}





.confirm-box {
  border: 1px solid var(--capiton);
  border-radius: 10px;
  position: absolute;
  width: 600px;
  height: fit-content;
  top: 25%;
  left: 25%;
  padding: 20px 15px;
  text-align: center;
  background: var(--outer);
  z-index: 1001;
}

.end_btn {
  font-size: 20px;
  padding: 5px 12px;
  background-color: var(--capiton);
  color: var(--just_black);
  position: absolute ;
  float: right;
  right: 15px;
  font-weight: 500;
  border-radius: 10px;
  border-color: rgb(179, 187, 255);
  border-width: 3px;
  cursor: pointer;
  background-color: #d6dce5;
  z-index: 1000;
  height: fit-content;
}


.confirm_btn {
  color: var(--just_black);
  background-color: #d6dce5;
  border-radius: 10px;
  border-color: rgb(179, 187, 255);
  border-width: 3px;
  border-radius: 10px;
  margin-top: 50px;
  font-weight: 400;
  padding: 2px 5px;
  margin: 20px;
}

#inside_confirm_p {
  float: left;
  font-weight: 350;
}


th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 18px;
}

th {
  background-color: var(--outer);
  color: white;
}
 table{
  width: 100%;
  height: 50%;
  border-collapse: collapse;
 }

 #clearStorage {
  position: relative;
  left: 20px;
  float: left;
  z-index: 1000;
  height: fit-content;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 12px;
  background-color: #d40000;
  color: white;
  position: absolute;
  font-weight: 500;
}
